[Unit]
Description=SIP zvonek deamon
After=network-online.target
[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/doorbell.py "/boot/doorbell.cfg"
WorkingDirectory=/home/pi/
User=pi
[Install]
WantedBy=multi-user.target
